
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "DefaultController > Index";
}
<h1>
    DefaultController > Index
</h1>
<article>
    <p>
        Empty Web Project
        <ul>
            <li>add Bundles: <a href="http://www.techjunkieblog.com/2015/05/aspnet-mvc-empty-project-adding.html">techjunkieblog.com/2015/05/aspnet-mvc-empty-project-adding</a></li>
            <li>add libraries from CDN: <a href="http://www.techjunkieblog.com/2015/06/aspnet-mvc-5-configure-bundleconfig.html">http://www.techjunkieblog.com/2015/06/aspnet-mvc-5-configure-bundleconfig.html</a></li>
        </ul>
    </p>
    <p>
        custom URL:
        <br />- `C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319> .\aspnet_regiis.exe -i`
        <br />- http://stackoverflow.com/questions/4709014/using-custom-domains-with-iis-express/32744234#32744234
    </p>
</article>
